body {
    background-color:rgb(137, 206, 137);
    color:aqua;
}
.navbar {
    background-color:darkslategrey;
}

footer {

    background-color:lightslategrey;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}